@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');

@import "tailwindcss";

@theme inline {
  --color-primary: #4ff07f;
  --color-primary-container: #25d366;
  --color-primary-fixed: #66ff8e;
  --color-primary-fixed-dim: #3de273;
  --color-on-primary: #003915;
  --color-on-primary-container: #005523;
  --color-on-primary-fixed: #002109;
  --color-on-primary-fixed-variant: #005322;

  --color-secondary: #91d69a;
  --color-secondary-container: #0d5526;
  --color-secondary-fixed: #adf3b4;
  --color-secondary-fixed-dim: #91d69a;
  --color-on-secondary: #003915;
  --color-on-secondary-container: #84c88d;
  --color-on-secondary-fixed: #002109;
  --color-on-secondary-fixed-variant: #095224;

  --color-tertiary: #ffc7b4;
  --color-tertiary-container: #ffa07e;
  --color-tertiary-fixed: #ffdbcf;
  --color-tertiary-fixed-dim: #ffb59b;
  --color-on-tertiary: #581d05;
  --color-on-tertiary-container: #78351b;
  --color-on-tertiary-fixed: #380d00;
  --color-on-tertiary-fixed-variant: #763319;

  --color-surface: #131313;
  --color-surface-dim: #131313;
  --color-surface-bright: #393939;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-surface-variant: #353534;
  --color-surface-tint: #3de273;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #bbcbb9;

  --color-background: #131313;
  --color-on-background: #e5e2e1;

  --color-outline: #869584;
  --color-outline-variant: #3c4a3d;

  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;

  --color-inverse-surface: #e5e2e1;
  --color-inverse-on-surface: #313030;
  --color-inverse-primary: #006d2f;

  --font-sans: 'Inter', sans-serif;
  --font-headline: 'Manrope', sans-serif;
}

body {
  background: #131313;
  color: #e5e2e1;
  font-family: 'Inter', sans-serif;
}

.font-headline {
  font-family: 'Manrope', sans-serif;
}

.metric-gradient {
  background: linear-gradient(135deg, #4FF07F 0%, #25D366 100%);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #131313;
}
::-webkit-scrollbar-thumb {
  background: #353534;
  border-radius: 10px;
}
